.sectionWhatWeOffer {
    margin-top: 6rem; 
}

.sectionDetails h3, .sectionAbout h3 {
    font-weight: 600;
}

.sectionDetails img {
    height: 10vh;
}

.sectionDetails {
    padding-left: 3rem;
}

p.offers-body {
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    .sectionWhatWeOffer {
        margin-top: 1rem; 
    }

    .sectionWhatWeOffer, .sectionAbout {
        padding: 1rem;
        font-size: 1rem;
    }

    .sectionAbout h3, .sectionDetails h3 {
        font-size: 2rem;
    }


    .sectionAbout h2, .sectionWhatWeOffer h2 {
         font-size: 2rem;
    }

     p.offers-body {
        font-size: 1.5rem;
    }
}