#sectionAchievements {
  background: #efefef;
  min-height: 100vh;
  padding: 8rem;
}

.sectionHeading {
  margin-top: -3rem;
}

.section-image {
  width: 100%;
  justify-content: space-around;
}

img.group-image1 {
  height: 55vh;
  width: 100%;
  border-radius: 2rem;
  margin-top: 5rem;
  margin-right: 0.5rem;
}

img.group-image2 {
  display: none;
}

span.achievement-details {
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  #sectionAchievements {
    padding: 5rem;
  }

  img.group-image1 {
    margin-right: 1rem;
    margin-top: -1rem;
  }

  .section-image {
    justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  img.group-image2 {
    width: 60vw;
    display: block;
  }
  img.group-image1 {
    display: none;
  }
}
