#sectionAchievements {
    background: #EFEFEF;
    min-height: 100vh;
    padding: 8rem;
}

.section-image {
    width: 100%;
    justify-content: space-between;
}

img.group-image1, img.group-image2 {
    height: 70vh;
    border-radius: 2rem;
}

 img.group-image1 {
        margin-right: .5rem;
}

.group-image2-box {
    margin-top: -4rem;
}


@media only screen and (max-width: 768px) {
   #sectionAchievements {
        padding: 5rem;
    }

     img.group-image1 {
        margin-right: 1rem;
    }

    .section-image {
    justify-content: center;
}
}

@media only screen and (max-width: 480px) {

    img.group-image2 {
    width: 60vw;
}
     img.group-image1 {
        display: none;
    }
}