.mainBox {
  position: relative;
}

.custom-shape-divider-top-1659920465 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1659920465 svg {
  position: relative;
  display: block;
  width: calc(142% + 1.3px);
  height: 212px;
}

.custom-shape-divider-top-1659920465 .shape-fill {
  fill: #efefef;
}

.main {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../../Assets/illustrations/2650401.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 20rem;
  padding-bottom: 3rem;
}

.main div {
  margin: 0 auto;
  width: 80vw;
  padding-left: 7rem;
}

p.why-us-details {
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  text-align: justify;
  width: 70vw;
  padding-left: 7rem;
}

.num {
  color: #1b3c34;
  font-size: 6rem;
  margin-top: 0.2rem;
  font-weight: 700;
}

.data-icon {
  width: 4.5rem;
}

.title {
  color: #1b3c34;
  font-size: 1.8rem;
  align-items: center;
}

.heading {
  font-size: 3rem;
}

.cardcontent {
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 768px) {
  .num {
    font-size: 2.1rem;
  }

  .title {
    color: #1b3c34;
    font-size: 2rem;
    margin-left: 2rem;
    justify-content: center;
  }

  .data-icon {
    width: 3rem;
    margin-left: 12rem;
  }

  .num,
  .title {
    text-align: center;
  }

  p.heading {
    font-size: 2rem;
  }

  .main .body-details {
    font-size: 1.5rem;
  }

  .main div,
  .main .body-details {
    padding-left: 0;
  }

  .analytics-details {
    padding-left: 10rem;
  }
}

@media only screen and (max-width: 570px) {
  .main {
    height: auto;
  }
  .heading {
    font-size: 1.5rem;
  }
}
