.mainBox {
  position: relative;
}

.custom-shape-divider-top-1659920465 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1659920465 svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 212px;
}

.custom-shape-divider-top-1659920465 .shape-fill {
    fill: #EFEFEF;
}

.main {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../../Assets/illustrations/2650401.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 20rem;
  padding-bottom: 3rem;
}

.main div {
  margin: 0 auto;
  width: 80vw;
}

.main .body-details {
  font-weight: 500;
  font-size: 2.2rem;
  color: #fff;
  text-align: justify;
  width: 70vw;
}

.num {
  color: #1b3c34;
  font-size: 3.2rem;
}

.data-icon {
  width: 4.5rem;
}

.title {
  color: #1b3c34;
  font-size: 1.8rem;
  align-items: center;
}

.heading {
  font-size: 4rem;
}

@media only screen and (max-width: 768px) {
  .num {
    font-size: 2.1rem;
    margin-top: .2rem;
  }

  .title {
    color: #1b3c34;
    font-size: 1.4rem;
    align-items: center;
  }

  .data-icon {
    width: 3rem;
  }
  
  p.heading {
    font-size: 2.2rem;
  }

  .main .body-details {
    font-size: 1.5rem;
  }

}

@media only screen and (max-width: 570px) {
  .main {
    height: auto;
  }
  .heading {
    font-size: 18px;
  }
}
