.heroImage {
    background-image: 
    linear-gradient( to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),  
    url("../../../../Assets/images/Devfest_Buea_2019.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 120vh;
    position: relative;
}

.heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 70vw;
}

.heroText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
}

.heroText h1 {
    font-size: 7rem;
    line-height: 8rem;
}

.heroText section {
    display: flex;
    margin: 3rem  auto 0 auto;
    justify-content: space-between;
    width: 30%;
    font-size: 4rem;
    font-family: 'Roboto';
}

.heroText section div {
    display: flex;
    flex-direction: column;
}

.heroText section div.center {
    margin-top: -5rem;
}

.heroText section div .star {
    font-size: 10rem;
}

.heroText section div .year {
    margin-top: -3rem;
}


.heroText section div .underline {
    height: .8rem;
    width: 80%;
    background-color: white;
    margin-top: 3rem;
    margin-left: 1rem;
}

@media only screen and (max-width: 1200px) {
    .heroText section {
        width: 50%;
    }

     .heroText h1 {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 768px) {
    .heroText {
        font-weight: 400;
    }

    .heroText h1 {
        font-size: 5rem;
        line-height: 6rem;
    }

    .heroText section {
        font-size: 2rem;
    }

    .heroText section div .star {
        font-size: 8rem;
    }
}

@media only screen and (max-width: 480px) {
    .heroImage {
        background-image: 
        linear-gradient( to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),  
        url("../../../../Assets/images/PN5A9405.png");
    }

    .heroText {
        font-weight: 400;
    }

    .heroText h1 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .heroText section {
        font-size: 2rem;
        width: 55%;
    }

    .heroText section div.center {
        margin-top: -1rem;
    }

    .heroText section div .year {
        margin-top: 0;
    }

    .heroText section div .star {
        font-size: 3rem;
    }

    .heroText section div .underline {
        margin-top: 1.5rem;
        margin-left: 0.5rem;
    }

}