.events-tab{
   float: right;
    
}

.events-tab a{
    color: black;
}

.events-tab .rectangle{
    width: 50px;
    height: 8px;
    background-color: rgb(6, 243, 192);
}

.events-tab p{
    margin-bottom: 0;  
}