.navWrapper {
  background-color: transparent;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 5rem;
  padding-left: 1rem;
  z-index: 1;
  justify-content: space-between;
  height: 10vh;
  max-width: 100%;
}

.navWrapperLight {
  background-color: #fff;
  box-shadow: 0px 8px 45px rgba(24, 15, 15, 0.25);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 3rem;
  padding-left: 1rem;
  z-index: 1;
  justify-content: space-between;
  height: 15vh;
  max-width: 150%;
}

.logoSection {
  width: 20%;
}

.logo {
  width: 100%;
}

.navRight {
  min-width: 30%;
  justify-content: space-between;
  display: flex;
}

.navRightChild .link {
  color: #d1c3c3;
  text-decoration: none;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 3rem;
}

.navWrapper .navRightChild .link:hover {
  color: #fff;
  border: 0;
}

.navWrapperLight .navRightChild .link:hover {
  color: #000;
  border: 0;
}


.link.activeLink, 
.navWrapper .navRightChild .link.activeLink:hover, 
.navWrapperLight .navRightChild .link.activeLink:hover {
  border-bottom: 0.5rem solid #1ce9b6;
  color: #d1c3c3;
}

.navWrapper .navRightChild .link.activeLink {
  color: #fff;
}

.dropdownContainer {
  display: none;
}


@media only screen and (max-width: 1200px) {
  .navRight {
      padding-right: 1rem;
    }

  .navRightChild .link {
      margin: 0;
    }
}

@media only screen and (max-width: 768px) {
  .navWrapperLight .hamburgerIcon {
    box-shadow: 0px 8px 45px rgba(24, 15, 15, 0.25);
  }

  .navRight {
    display: none;
  }

  .dropdownContainer {
    display: inline-block;
    position: relative;
    width: 15vw;
  }

  .logoSection {
    width: 30%;
  }

  .hamburgerIcon {
    height: 4rem;
    width: 4rem;
    color: black;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 5rem;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 13rem;
    margin-top: 2rem;
    margin-left: -8rem;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 0.5rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0.8rem 1.2rem;
  }

  .dropdownContainer ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
  }

  .logoSection {
    margin-top: .5rem;
  }
}
