.navWrapper {
  background-color: transparent;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
}

.logoSection {
  width: 35%;
  margin-top: -20px;
}

.logo {
  width: 100%;
}

.navRight {
  width: 50%;
  justify-content: space-around;
  display: flex;
  padding: 3rem;
  margin-top: 7px;
}

.navRightChild .link {
  color: #d1c3c3;
  font-weight: 400;
  font-size: 30px;
  text-decoration: none;
}

.navRightChild .link:hover {
  color: #fff;
  border: 0;
}

.navRightChild .link:focus {
  border-bottom: 0.5rem solid #1ce9b6;
}

.hamburgerIcon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navRight {
    display: none;
  }

  .hamburgerIcon {
    display: block;
    height: 4rem;
    width: 4rem;
    color: black;
    font-size: 20px;
    padding: 0.7rem 0rem 0rem 1rem;
    margin: 1rem 12rem 1rem 1rem;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
  }

  .dropdownContainer {
    position: relative;
    display: inline-block;
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 15rem;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: .5rem;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 8px 12px;
  }

  li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
  }

  .logoSection {
    margin-top: 5px;
  }
}
