* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px; 
  text-align: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  width: auto;
}

.row {
  max-width: auto;
  height: max-content;
}
.p-tag {
  color: white;
}
.containers{
  padding-top: 150px;
  display: flex;
  margin-bottom: auto;
}

img {
  max-width: auto;
  
  height: 100%;
}

h2{
  line-height: 100px;
  margin-bottom: 100px;
  font-size: 100px;
}
.p-tag{
  margin-top: auto;
  color: rgb(112, 110, 108);
  margin-bottom: 50px;
  font-size: 25px;
  font-kerning: none;
}
div{
  overflow-x: hidden;
}

@media only screen and (max-width: 1000px){
  .containers{
      padding-top: 150px;
      display: flex;
  }

  .column {
    width: auto;
    height: auto;
  }
  
}

@media only screen and (max-width: 760px){
  .containers{
      padding-top: 100px;
      display: flex;
  }

  .column {
    width: auto;
    height: auto;
  }
  
}

@media only screen and (max-width: 480px){
  .containers{
      padding-top: 180px;
      display: flex;
  
  }

  .column {
    width: auto;
    height: auto;
  }
  
} 