*,
**::after,
**::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading-secondary-1, .heading-secondary-2 {
  font-weight: 400;
  color: #5C5A5A;
}

.heading-secondary-1 {
  font-size: 3rem;
}

.heading-secondary-2 {
  font-size: 2.5rem;
}

.underline-normal {
  display: block;
  width: 5rem;
  height: .5rem;
  background-color: #1CE9B6;
  border-radius: .5rem;
  margin-top: 8rem;
}

.underline-bold {
  display: block;
  width: 7rem;
  height: .9rem;
  background-color: #1CE9B6;
  border-radius: .5rem;
  margin-top: 1rem;
}

.underline-large {
  display: block;
  width: 12rem;
  height: .6rem;
  background-color: #1CE9B6;
  border-radius: .5rem;
  margin-top: 1rem;
}

.heading-h3 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.5;
  padding: 0 3rem;
  font-family: Roboto;
  color: #5C5A5A;
}

